@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="navbar-static-top">
    <div class="row col-lg-12 col-sm-12 col-md-12 text-center">
        <h4>Real Time Location Services-API administrator</h4>
    </div>
    <br />
</div>
<br/><hr/>
<div class="container">
    <h4>Site Configuration</h4>
    <form name="fromRtlsConfig" id="fromRtlsConfig">
        <div class="row col-lg-10 col-sm-10 col-md-10">
            <input type="hidden" class="RtlsConfigurationId" name="RtlsConfigurationId" id="RtlsConfigurationId" />
            <input type="hidden" class="SiteId" name="SiteId" id="SiteId" value="@Request.QueryString["SiteId"]" />
            <div class="col-md-3 col-lg-3 col-sm-3">
                <input type="text" name="EngageBuildingName" id="txtEngageBuildingName" placeholder="Enter the Building Name" class="form-control" required />
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <input type="text" name="EngageSiteName" id="txtEngageSiteName" class="form-control" placeholder="Enter the Site Name" required />
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <input type="text" name="EngageBaseAddressUri" id="txtEngageBaseAddressUri" class="form-control" placeholder="Enter the Engage Url" required />
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <input type="button" value="Save Updates" class="btn btn-success" id="btnRtlsConfiguration" />
            </div>
        </div>
        <br /><br /><hr />
        <h4>Save Devices MacAddress</h4>
        <div class="row col-lg-10 col-sm-10 col-md-10">
            @*<form action="">*@
            <div class="col-md-3 col-lg-3 col-sm-3">
                <input type="text" id="txtMacDevices" name="MacAddresses" maxlength="17" class="form-control">
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <input type="button" class="btn btn-info" value="Save" name="Command" title="Save" id="btnSave" onclick="saveDevice()">
            </div>
            @*</form>*@
        </div>

        <br /><br /><hr />
        <div class="col-sm-12 col-lg-12 col-sm-12 pull-right-8">
            <div class="form-group row pull-right">
                <!--call the api for register as per the selection-->
                <input type="button" class="btn btn-info BtnMacSelect" value="TrackMember" id="btnTrackMember" title="TrackMember">
                <input type="button" class="btn btn-info BtnChkSelect" value="Register" id="btnRegister" title="Register" disabled>
                <input type="button" class="btn btn-info BtnChkSelect" value="De-Register" id="btnDeRegister" title="De-Registe" disabled>
                <input type="button" class="btn btn-info BtnChkSelect" value="Delete Mac Address" id="btnDeleteMac" title="Delete Mac Address" disabled />
                @*<input type="button" class="btn btn-info BtnChkSelect" value="Get Latest Position" id="btnLatestVersion" title="Postion" disabled>*@
            </div>
        </div>
        <br /><br /><br />
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="body-content">
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Mac
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                IsCreatedByAdmin
                            </th>
                            <th>
                                IsDisplay
                            </th>
                        </tr>
                    </thead>
                    <tbody id="macDetails"></tbody>
                    <tfoot>

                    </tfoot>
                </table>
                <div class="pagination-container">
                    <nav>
                        <ul class="pagination"></ul>
                    </nav>
                </div>
            </div>

        </div>
    </form>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    //Get the configuration for RTLS
    function saveDevice()
    {
        //var macValue=document.getElementById('txtMacDevices').value;
        var data = $("#fromRtlsConfig").serialize();
        $.post("/Device/Save", data, function (response) {
            location.reload();
        });
    }

    $(document).ready(function () {
        var GetRtlsConfigUri = '/api/GetRtlsConfiguration?SiteId='+@Request.QueryString["SiteId"];
        $.getJSON(GetRtlsConfigUri)
          .done(function (data) {
              $("#txtEngageBuildingName").val(data.EngageBuildingName);
              $("#txtEngageSiteName").val(data.EngageSiteName);
              $("#txtEngageBaseAddressUri").val(data.EngageBaseAddressUri);
              $("#RtlsConfigurationId").val(data.RtlsConfigurationId);
          });

        var saveRtlsConfigUri = "/api/SaveAndUpdateRtlsConfiguration"
        $(document).on('click', '#btnRtlsConfiguration', function () {
            var data = $("#fromRtlsConfig").serialize();
            $.post(saveRtlsConfigUri, data, function (e) {
                location.reload();
            });
        });

        var uri = '/UIData/ListOfMacAddress?SiteId='+@Request.QueryString["SiteId"];
        $.getJSON(uri)
             .done(function (data) {
                 $.each(data, function (key, item) {
                     $('#macDetails').append("<tr>" +
                         "<td> <input type='checkbox' class='chkMacDevices' name='chkMacDevices' id='chkMacDevices' />  </td>" +
                         "<td class='tdMac' > " + item.Mac + "</td>" +
                         "<td>" + item.StrStatus + "</td>" +
                         "<td> <input type='checkbox' id='chkIsCreatedByAdmin' value='" + item.IsCreatedByAdmin + "'/>" + "</td>" +
                         "<td> <input type='checkbox' id='chkIsDisplay' class='IsDisplay' name='IsDisplay' value='" + item.IsDisplay + "' />" + "</td>" +
                         "<td>" + "<a href='/Admin/RTLSAsDevice?DeviceId'=" + item.Mac + " Id='GetRegistred' class='btn btn-info'>GetRegisteredData</a>" + "</td>" +
                         "</tr>");
                     $("#chkIsCreatedByAdmin").attr('checked', item.IsCreatedByAdmin);
                     $("#chkIsDisplay").attr('checked', item.IsDisplay);
                 });
        });

        $(document).on('click', '#chkMacDevices', function () {
            if ($(this).is(":checked")) {
                // stop the bubbling to prevent firing the row's click event
                $(".BtnChkSelect").removeAttr("disabled");
            } else {
                $(".BtnChkSelect").attr("disabled", "disabled");
            }

        });

        $(document).on('click', '#chkIsDisplay', function () {
            alert($(this).is(":checked"));
            var macDevice = null;
            $.each($("input[name='IsDisplay']:checked"), function () {
                macDevice = $(this).parents("tr").find(".tdMac").text().trim();
            });
            var data = { Mac: macDevice, IsDisplay: $(this).is(":checked"),RtlsConfigurationId:$("#RtlsConfigurationId").val()}
            $.post("/Device/UpdateDisplay/", data, function (e) {
                location.reload();
            });
        });

        $("#btnRegister").on("click", function () {
            var arrData = [];
            $.each($("input[name='chkMacDevices']:checked"), function () {
                arrData.push($(this).parents("tr").find(".tdMac").text().trim());
            });
            var data = { MacAddresses: arrData, IscreatedByAdmin: true,RtlsConfigurationId:$("#RtlsConfigurationId").val()}
            $.post("/RealTimeLocation/AddDevices/", data, function (response) {
                if (response.result.returncode == 0) {
                    alert(arrData + " " + "Register successfully");
                }
                else {
                    alert(response.result.errmsg);
                }
                location.reload();
            });
        });

        $("#btnDeRegister").on("click", function () {
            var arrData = [];
            $.each($("input[name='chkMacDevices']:checked"), function () {
                arrData.push($(this).parents("tr").find(".tdMac").text().trim());
            });
            var data = { MacAddresses: arrData,RtlsConfigurationId:$("#RtlsConfigurationId").val() }
            $.post("/RealTimeLocation/DeRegisterDevices/", data, function (response) {
                if (response.result.returncode == 0) {
                    alert(arrData + " " + "DeRigisterd successfully");
                }
                else {
                    alert(response.result.errmsg);
                }
                location.reload();
            });
        });

        $("#btnDeleteMac").on("click", function () {
            var arrData = [];
            $.each($("input[name='chkMacDevices']:checked"), function () {
                arrData.push($(this).parents("tr").find(".tdMac").text().trim());
            });
            var data = { MacAddresses: arrData,RtlsConfigurationId:$("#RtlsConfigurationId").val() }
            $.post("/Device/Delete/", data, function (e) {
                location.reload();
            });
        });
    });
</script>




