################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/RTLS.Services.App/obj/Debug
/RTLS/obj/Debug
/RTLS/RTLS.csproj.user
/RTLS/bin
/.vs
/RTLS.Business/bin/Debug
/RTLS.Business/obj/Debug
/RTLS.DataAccess/bin/Debug
/RTLS.DataAccess/obj/Debug
/RTLS.Domins/bin/Debug
/RTLS.Domins/obj/Debug
/RTLS.Services/obj/Debug
/RTLS.Services/bin
/RTLS.Domins/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/RTLS.Domins/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
