<!DOCTYPE html>
<html lang="en" class="is-copy-enabled is-u2f-enabled">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta charset='utf-8'>
    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/frameworks-0dd18d999f1e3d1e515cf15c5628a70a3859d1af1c5daadeaa73ab4adfdeae9e.css" integrity="sha256-DdGNmZ8ePR5RXPFcViinCjhZ0a8cXareqnOrSt/erp4=" media="all" rel="stylesheet" />
    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/github-57fffadd96a5e71107e7c0917ec24169796a7b21091c335c4aa4c728d5fd7e54.css" integrity="sha256-V//63Zal5xEH58CRfsJBaXlqeyEJHDNcSqTHKNX9flQ=" media="all" rel="stylesheet" />
    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/site-70dfb928c731b17636b56e4f6f97ffe02f2e3e94d71f2230379ece855d2904dd.css" integrity="sha256-cN+5KMcxsXY2tW5Pb5f/4C8uPpTXHyIwN57OhV0pBN0=" media="all" rel="stylesheet" />
    <link crossorigin="anonymous" href="https://assets-cdn.github.com/assets/system-fonts-d60dee4b68e3a38b01c0389551a0e38f04acd897ec85592f405d045ee853b3d1.css" integrity="sha256-1g3uS2jjo4sBwDiVUaDjjwSs2JfshVkvQF0EXuhTs9E=" media="all" rel="stylesheet" />

</head>

<body class="logged-out  env-production windows  session-authentication page-responsive min-width-0" style="max-width: 100%;overflow-x: hidden;overflow-y:hidden;background-color:white">
    <div class="header header-logged-out width-full" role="banner">
        <div class="container clearfix width-full">

        </div>
        <div class="auth-form-header">
            <h2 style="color:rgb(128,0,0);font-size:18px;"><img src="/Images/airloc8_logo.svg" /> <img src="/Images/thomson_logo.png" style="height:30px;width:120px;" /> User Login</h2>
        </div>


    </div>
    <div role="main" class="main-content" style="margin-top:-40px;">
        <div class="auth-form p-3" id="login">
            <form action="/" class="form-horizontal" method="post" role="form">
                <input name="__RequestVerificationToken" type="hidden" value="s9MshfrPiWA0XSO6xnWL3L0BslPUUbyo_h5Az0tZ7KIp9BVfnwl2UDb42ymsJ46522XVfuan4o1hz0OxF3NFZFsbXWgbJsn6x5D2fgPx36w1" />                <div class="auth-form-body mt-4" style="background-color:#f8f8f8">
                    <label for="login_field">
                        Username or email address
                    </label>
                    <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="form-control input-block" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="login_field" name="Email" tabindex="1" type="text" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    <label for="password">
                        Password <a href="/Account/ForgotPassword" class="label-link">Forgot password?</a>
                    </label>
                    <input class="form-control input-block" data-val="true" data-val-required="The Password field is required." id="password" name="Password" tabindex="2" type="password" value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    <input class="btn btn-primary btn-block" data-disable-with="Signing in…" name="commit" tabindex="3" type="submit" value="Sign in" />
                </div>
            </form>
        </div>
    </div>
    <div class="site-footer" role="contentinfo">
        <ul class="site-footer-links">
            <li><a href="#" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
            <li><a href="#" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
            <li><a href="#" data-ga-click="Footer, go to security, text:security">Security</a></li>
            <li><a href="#" data-ga-click="Footer, go to contact, text:contact">Contact</a></li>
        </ul>
    </div>
</body>
</html>


<script type="text/javascript">

    $(document).ready(function () {
        //alert("msg");
        $("#registerLink").hide();
        //$("#copyRight").hide();
    });
</script>